django==4.2.14
django-extensions==3.2.3
requests==2.32.3
django-extensions==3.2.3
dj-database-url==2.2.0
celery[redis]==5.4.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
